In [1]:
print("i know this function")

i know this function

In [2]:
print(110)

110

In [3]:
print(print(100))

100
None

In [5]:
print(1,"bilal")

1 bilal

In [11]:
print("hello world", end="\n\n")
print ("hello")
print("hellobilal")

hello world

hello
hellobilal

In [12]:
a = "string"
type(a)

str

In [14]:
a = 10
type(a)

int

In [21]:
num1 = 100
num2 = 100
sum = num1 // num2
print(sum)

1

In [24]:
list = [1,2,4,5,6,7,9]
a = list
print(a)

[1, 2, 4, 5, 6, 7, 9]

In [25]:
print(list[1])

2

In [29]:
list.append(6)

In [30]:
list[1]

2

In [32]:
number = [1,2,3,4]
print(number)

[1, 2, 3, 4]

In [34]:
 number.insert(2, 10)
 print(number)

[1, 2, 10, 3, 4]

In [36]:
num1 = [1,2,3,4,5,6,7,8,9]

num1.pop()
print(num1)

[1, 2, 3, 4, 5, 6, 7, 8]

In [37]:
print(num1)

[1, 2, 3, 4, 5, 6, 7, 8]

In [40]:
a = 1
b = float(a)
print(b)
print(type(b))

1.0
<class 'float'>