In [85]:
# These are some string methods
# Here are some string functions, I am listing them under

string_functions = ["Capitalize ","casefold()","center()","count()","encode()","endswith()","expandtabs()","find()",
                    "format()","isdigit()","index()","isalpha()","join()","lower()",
                    "replace()","upper()","strip()","swapcase()","title()","split()"]

print(*string_functions, sep='\n')

Capitalize
casefold()
center()
count()
encode()
endswith()
expandtabs()
find()
format()
isdigit()
index()
isalpha()
join()
lower()
replace()
upper()
strip()
swapcase()
title()
split()

In [86]:
#This will Capitalize first letter

In [38]:
greeting = "hello, world."

x = greeting.capitalize()

print (x)

Hello, world.

In [39]:
#this will lowercase first letter
greeting = "hello, world."

x = greeting.casefold()

print (x)

hello, world.

In [ ]:
# create 20 spaces

In [42]:
text = "helloworld"

x = text.center(20)

print(x)

     helloworld

In [45]:
# This will return that how much time this is repeated

In [46]:
text = "This is pakistan. This is my country"

x = text.count("This")

print(x)

2

In [50]:
#UTF-8 encode the string:

In [51]:
text = "My name is St√•le"

x = text.encode()

print(x)

b'My name is St\xc3\xa5le'

In [ ]:
#Check if the string ends with a punctuation sign (.):

In [53]:
text = "Hello, welcome to my world."

x = text.endswith(".")

print(x)

True

In [ ]:
#Set the tab size to 2 whitespaces:

In [55]:
text = "H\te\tl\tl\to"

x =  text.expandtabs(2)

print(x)

H e l l o

In [56]:
#Where in the text is the word "welcome"?:

In [57]:
text = "Hello, welcome to my world."

x = text.find("welcome")

print(x)

7

In [58]:
#Insert the price inside the placeholder, the price should be in fixed point, two-decimal format:

In [59]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

In [62]:
#Check if all the characters in the text are digits:

In [63]:
text = "50800"

x = text.isdigit()

print(x)

True

In [64]:
#Where in the text is the word "welcome"?:

In [65]:
text = "Hello, welcome to my world."

x = text.index("welcome")

print(x)

7

In [66]:
#Check if all the characters in the text are letters:

In [67]:
text = "CompanyX"

x = text.isalpha()

print(x)

True

In [68]:
#Join all items in a tuple into a string, using a hash character as separator:

In [69]:
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [70]:
#Lower case the string

In [71]:
text = "Hello my FRIENDS"

x = text.lower()

print(x)

hello my friends

In [72]:
#Replace the word "Pakistan":

In [73]:
text = "I love Pakistan"

x = text.replace("Pakistan", "Islamabad")

print(x)

I love Islamabad

In [75]:
#Upper case the string:

In [76]:
text = "Hello my friends"

x = text.upper()

print(x)

HELLO MY FRIENDS

In [77]:
#Remove spaces at the beginning and at the end of the string:

In [78]:
text = "     banana     "

x = text.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [79]:
#Make the lower case letters upper case and the upper case letters lower case:

In [80]:
text = "Hello My Name Is BILAL"

x = text.swapcase()

print(x)

hELLO mY nAME iS bilal

In [81]:
#Make the first letter in each word upper case:

In [82]:
text = "Welcome to my world"

x = text.title()

print(x)

Welcome To My World

In [83]:
#Split a string into a list where each word is a list item:

In [84]:
text = "welcome to the jungle"

x = text.split()

print(x)

['welcome', 'to', 'the', 'jungle']

# Operator Functions

In [87]:
#Addition operator

In [90]:
num1 = 100
num2 = 300

sum = num1 + num2
print(sum)

400

In [91]:
#subtration operator

In [95]:
num1 = 100
num2 = 300

sub = num2 - num1
print(sub)

200

In [ ]:
#Multiplication Operator

In [96]:
num1 = 100
num2 = 300

mul = num2 * num1
print(mul)

30000

In [97]:
#Division Operator

In [98]:
num1 = 100
num2 = 300

div = num2 / num1
print(div)

3.0

In [99]:
# Modulus Operator

In [100]:
num1 = 100
num2 = 300

mod = num2 % num1
print(mod)

0

In [101]:
#power operators

In [102]:
num1 = 2
num2 = 2
num3 = num1**num2
print(num3)

4

In [111]:
#Mathematical Expression Calculation